body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.ascii-display {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  font-family: monospace;
  font-size: 0.15rem;
  text-align: justify;
  border: 1px solid black;
  letter-spacing: 0.2rem;
}

#spacer {
  width: 100%;
  display: inline-block;
  background-color: gold;
  height: 10px;
}